asgiref==3.7.2
astroid==3.1.0
black==24.2.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dill==0.3.8
Django==5.0.3
djangorestframework==3.14.0
google-api-core==2.17.1
google-auth==2.28.2
google-geo-type==0.3.7
google-maps-routing==0.6.7
googleapis-common-protos==1.63.0
grpcio==1.62.1
grpcio-status==1.62.1
idna==3.6
isort==5.13.2
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
-e git+https://github.com/pes2324q2-gei-upc/PowerPathFinder.git@07f01b3394765a27e2bbb8be616ae2ffb2600b5a#egg=ppf&subdirectory=ppf
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pylint==3.1.0
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pytz==2024.1
requests==2.31.0
rsa==4.9
setuptools==69.1.1
sqlparse==0.4.4
tomlkit==0.12.4
urllib3==2.2.1
